In [1]:
import main
import numpy as np

In [2]:
import cvmpy as cvm
import numpy as np

In [3]:
import pandas as pd

In [4]:
x = cvm.Balanco('MOVI3',r'C:\Users\11111\Desktop\Python\chromedriver.exe')

In [5]:
x.balanco.relatorios = {2018: {3: np.array(['30/09/2018', '16/01/2019', 80173], dtype=object),
  2: np.array(['30/06/2018', '08/08/2018', 76826], dtype=object),
  1: np.array(['31/03/2018', '28/05/2018', 75143], dtype=object),
  4: np.array(['31/12/2018', '02/04/2019', 81989], dtype=object)}}

In [6]:
x = main.Balanco('MOVI3')

In [7]:
tabela = x.get(1,2018,4, False)

Obtendo Resultado para MOVI3 referente ao 4º trimestre de 2018

In [41]:
tabela1 =  tabela['ativo'][-1]

In [42]:
colunas = tabela['ativo'][:-1]

In [46]:
tabela['conta'][:-1]

['CONTA', 'DS_CONTA']

In [43]:
for i in ['conta', 'relat', 'dataent', 'dataref', 'ano', 'trimestre', 'valor']:
    if i in tabela:
        print(tabela[i][-1])
        colunas += tabela[i][:-1]
        tabela1 = np.column_stack([tabela1,tabela[i][-1]])

[['3.01' 'Receita de Venda de Bens e/ou Serviços']
 ['3.02' 'Custo dos Bens e/ou Serviços Vendidos']
 ['3.02.01' 'Custo das prestações de serviços']
 ['3.02.02'
  'Custo de venda de ativos utilizados na prestação de serviços']
 ['3.03' 'Resultado Bruto']
 ['3.04' 'Despesas/Receitas Operacionais']
 ['3.04.01' 'Despesas com Vendas']
 ['3.04.02' 'Despesas Gerais e Administrativas']
 ['3.04.02.01' 'Despesas administrativas']
 ['3.04.02.02' 'Despesas Comerciais']
 ['3.04.03' 'Perdas pela Não Recuperabilidade de Ativos']
 ['3.04.04' 'Outras Receitas Operacionais']
 ['3.04.04.01' 'Outras receitas (despesas) operacionais líquidas']
 ['3.04.05' 'Outras Despesas Operacionais']
 ['3.04.05.01' 'Despesas tributárias']
 ['3.04.06' 'Resultado de Equivalência Patrimonial']
 ['3.05' 'Resultado Antes do Resultado Financeiro e dos Tributos']
 ['3.06' 'Resultado Financeiro']
 ['3.06.01' 'Receitas Financeiras']
 ['3.06.02' 'Despesas Financeiras']
 ['3.07' 'Resultado Antes dos Tributos sobre o Lucro']
 ['3.08' 'Imposto de Renda e Contribuição Social sobre o Lucro']
 ['3.08.01' 'Corrente']
 ['3.08.02' 'Diferido']
 ['3.09' 'Resultado Líquido das Operações Continuadas']
 ['3.10' 'Resultado Líquido de Operações Descontinuadas']
 ['3.10.01' 'Lucro/Prejuízo Líquido das Operações Descontinuadas']
 ['3.10.02'
  'Ganhos/Perdas Líquidas sobre Ativos de Operações Descontinuadas']
 ['3.11' 'Lucro/Prejuízo Consolidado do Período']
 ['3.11.01' 'Atribuído a Sócios da Empresa Controladora']
 ['3.11.02' 'Atribuído a Sócios Não Controladores']
 ['3.99' 'Lucro por Ação - (Reais / Ação)']
 ['3.99.01' 'Lucro Básico por Ação']
 ['3.99.01.01' 'ON']
 ['3.99.02' 'Lucro Diluído por Ação']]

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [24]:
pd.DataFrame(tabela1, columns=colunas)

ValueError: Shape of passed values is (35, 2), indices imply (35, 1)

In [15]:
pd.DataFrame(tabela1, columns=colunas)

,CD_ATIVO,CONTA,DS_CONTA,NUM_RELATORIO,DATA_ENT,DATA_REF_INI,DATA_REF_FIM,ANO,TRIMESTRE_INI,TRIMESTRE_FIM,VALOR
0,MOVI3,3.01,Receita de Venda de Bens e/ou Serviços,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,2.5386e+06
1,MOVI3,3.02,Custo dos Bens e/ou Serviços Vendidos,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-1.73196e+06
2,MOVI3,3.02.01,Custo das prestações de serviços,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-439166
3,MOVI3,3.02.02,Custo de venda de ativos utilizados na prestaç...,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-1.2928e+06
4,MOVI3,3.03,Resultado Bruto,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,806636
5,MOVI3,3.04,Despesas/Receitas Operacionais,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-426909
6,MOVI3,3.04.01,Despesas com Vendas,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
7,MOVI3,3.04.02,Despesas Gerais e Administrativas,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-372250
8,MOVI3,3.04.02.01,Despesas administrativas,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-198370
9,MOVI3,3.04.02.02,Despesas Comerciais,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-173880
10,MOVI3,3.04.03,Perdas pela Não Recuperabilidade de Ativos,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,1351
11,MOVI3,3.04.04,Outras Receitas Operacionais,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-56010
12,MOVI3,3.04.04.01,Outras receitas (despesas) operacionais líquidas,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-56010
13,MOVI3,3.04.05,Outras Despesas Operacionais,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
14,MOVI3,3.04.05.01,Despesas tributárias,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
15,MOVI3,3.04.06,Resultado de Equivalência Patrimonial,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
16,MOVI3,3.05,Resultado Antes do Resultado Financeiro e dos ...,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,379727
17,MOVI3,3.06,Resultado Financeiro,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-172785
18,MOVI3,3.06.01,Receitas Financeiras,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,46351
19,MOVI3,3.06.02,Despesas Financeiras,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-219136
20,MOVI3,3.07,Resultado Antes dos Tributos sobre o Lucro,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,206942
21,MOVI3,3.08,Imposto de Renda e Contribuição Social sobre o...,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-47188
22,MOVI3,3.08.01,Corrente,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-20307
23,MOVI3,3.08.02,Diferido,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,-26881
24,MOVI3,3.09,Resultado Líquido das Operações Continuadas,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,159754
25,MOVI3,3.10,Resultado Líquido de Operações Descontinuadas,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
26,MOVI3,3.10.01,Lucro/Prejuízo Líquido das Operações Descontin...,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
27,MOVI3,3.10.02,Ganhos/Perdas Líquidas sobre Ativos de Operaçõ...,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
28,MOVI3,3.11,Lucro/Prejuízo Consolidado do Período,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,159754
29,MOVI3,3.11.01,Atribuído a Sócios da Empresa Controladora,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,159754
30,MOVI3,3.11.02,Atribuído a Sócios Não Controladores,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
31,MOVI3,3.99,Lucro por Ação - (Reais / Ação),81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
32,MOVI3,3.99.01,Lucro Básico por Ação,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None
33,MOVI3,3.99.01.01,ON,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,0.7274
34,MOVI3,3.99.02,Lucro Diluído por Ação,81989,02/04/2019,01/01/2018,31/12/2018,2018,1,4,None

In [38]:
[1,2,3,4,5][:-1]

[1, 2, 3, 4]

In [5]:
x = main.Balanco('MOVI3')

In [6]:
addcoluna

NameError: name 'addcoluna' is not defined

In [10]:
main.Features(xxx+['MOVI3'])

0

MOVI3
----------  ---------------------------------------------------------------  ----------  ------  ------------  ----------
CONTA       DS_CONTA                                                         DATA_REF    DS_ANO  DS_TRIMESTRE  VALOR
3.01        Receita de Venda de Bens e/ou Serviços                           31/12/2018  2018    4             713045.0
3.02        Custo dos Bens e/ou Serviços Vendidos                            31/12/2018  2018    4             -493578.0
3.02.01     Custo das prestações de serviços                                 31/12/2018  2018    4             -320587.0
3.02.02     Custo de venda de ativos utilizados na prestação de serviços     31/12/2018  2018    4             -1004374.0
3.03        Resultado Bruto                                                  31/12/2018  2018    4             219467.0
3.04        Despesas/Receitas Operacionais                                   31/12/2018  2018    4             -112208.0
3.04.01     Despesas com Vendas                                              31/12/2018  2018    4             66523.0
3.04.02     Despesas Gerais e Administrativas                                31/12/2018  2018    4             -170539.0
3.04.02.01  Despesas administrativas                                         31/12/2018  2018    4             -130594.0
3.04.02.02  Despesas Comerciais                                              31/12/2018  2018    4             -173880.0
3.04.03     Perdas pela Não Recuperabilidade de Ativos                       31/12/2018  2018    4             1351.0
3.04.04     Outras Receitas Operacionais                                     31/12/2018  2018    4             -39944.0
3.04.04.01  Outras receitas (despesas) operacionais líquidas                 31/12/2018  2018    4             -39944.0
3.04.05     Outras Despesas Operacionais                                     31/12/2018  2018    4             30401.0
3.04.05.01  Despesas tributárias                                             31/12/2018  2018    4             0.0
3.04.06     Resultado de Equivalência Patrimonial                            31/12/2018  2018    4             0.0
3.05        Resultado Antes do Resultado Financeiro e dos Tributos           31/12/2018  2018    4             107259.0
3.06        Resultado Financeiro                                             31/12/2018  2018    4             -44840.0
3.06.01     Receitas Financeiras                                             31/12/2018  2018    4             10512.0
3.06.02     Despesas Financeiras                                             31/12/2018  2018    4             -55352.0
3.07        Resultado Antes dos Tributos sobre o Lucro                       31/12/2018  2018    4             62419.0
3.08        Imposto de Renda e Contribuição Social sobre o Lucro             31/12/2018  2018    4             -10689.0
3.08.01     Corrente                                                         31/12/2018  2018    4             -11719.0
3.08.02     Diferido                                                         31/12/2018  2018    4             1030.0
3.09        Resultado Líquido das Operações Continuadas                      31/12/2018  2018    4             51730.0
3.10        Resultado Líquido de Operações Descontinuadas                    31/12/2018  2018    4             0.0
3.10.01     Lucro/Prejuízo Líquido das Operações Descontinuadas              31/12/2018  2018    4             0.0
3.10.02     Ganhos/Perdas Líquidas sobre Ativos de Operações Descontinuadas  31/12/2018  2018    4             0.0
3.11        Lucro/Prejuízo Consolidado do Período                            31/12/2018  2018    4             51730.0
3.11.01     Atribuído a Sócios da Empresa Controladora                       31/12/2018  2018    4             51730.0
3.11.02     Atribuído a Sócios Não Controladores                             31/12/2018  2018    4             0.0
3.99        Lucro por Ação - (Reais / Ação)                                  31/12/2018  2018    4             0.0
3.99.01     Lucro Básico por Ação                                            31/12/2018  2018    4             0.0
3.99.01.01  ON                                                               31/12/2018  2018    4             0.6016
3.99.02     Lucro Diluído por Ação                                           31/12/2018  2018    4             0.0
----------  ---------------------------------------------------------------  ----------  ------  ------------  ----------

In [17]:
            datas = xxx[0][2].split('a')
            meses = [int(i.split('/')[1]) for i in datas]
            trimestre = [int(i/3)+1 if i%3 else int(i/3) for i in meses]

In [14]:
x = {1:3}

In [15]:
x.update({3:4, 5})

SyntaxError: invalid syntax (<ipython-input-15-7f65f764691d>, line 1)

In [13]:
x

In [21]:
[123123,444,55]+[]

[123123, 444, 55]