In [1]:
import main
import numpy as np

In [2]:
import bi

In [3]:
import cvmpy as cvm

In [4]:
import numpy as np

In [5]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [6]:
cnn = bi.sqlite(r'C:\Users\11111\Desktop\fmtpy\db\balancos_cvm.db')

In [7]:
z = bi.Upload(cnn, ['MOV2I3', 'PETR4', 'HYPE3'], [2011, 2018])

In [8]:
z.go()

In [2]:
print("%.2f" % (0) + ' %')

0.00 %

In [11]:
for n, i in enumerate(['MOVI3', 'PETR4', 'HYPE3']):
    print("%.2f" %((n+1)/len(['MOVI3', 'PETR4', 'HYPE3']))+' %', end='\r')

In [22]:
tabela= bi.Balanco('MOVI3', cnn).get(5,2015,3, True)

In [23]:
tabela.df()

,CD_ATIVO,DS_IND,CONTA,DS_CONTA,DATA_REF,ANO,TRIMESTRE,VALOR
0,MOVI3,Fluxo de Caixa,6.01,Caixa Líquido Atividades Operacionais,2015-09-30,2015,3,371772000
1,MOVI3,Fluxo de Caixa,6.01.01,Caixa Gerado nas Operações,2015-09-30,2015,3,201465000
2,MOVI3,Fluxo de Caixa,6.01.01.01,Lucro antes do imposto de renda,2015-09-30,2015,3,19302000
3,MOVI3,Fluxo de Caixa,6.01.01.02,Depreciação / Amortizações,2015-09-30,2015,3,26111000
4,MOVI3,Fluxo de Caixa,6.01.01.03,Custo de venda de ativos utilizados na prestaç...,2015-09-30,2015,3,161772000
5,MOVI3,Fluxo de Caixa,6.01.01.05,Resultado de equivalência patrimonial de inves...,2015-09-30,2015,3,0
6,MOVI3,Fluxo de Caixa,6.01.01.06,Provisão/reversão para demandas judiciais e ad...,2015-09-30,2015,3,-8000
7,MOVI3,Fluxo de Caixa,6.01.01.07,Perdas estimadas com créditos de liquidação du...,2015-09-30,2015,3,-252000
8,MOVI3,Fluxo de Caixa,6.01.01.08,Perdas/reversão com valor justo de instrumento...,2015-09-30,2015,3,-16633000
9,MOVI3,Fluxo de Caixa,6.01.01.11,Juros e variações monetárias s/empréstimos e f...,2015-09-30,2015,3,11173000
10,MOVI3,Fluxo de Caixa,6.01.02,Variações nos Ativos e Passivos,2015-09-30,2015,3,170307000
11,MOVI3,Fluxo de Caixa,6.01.02.01,Titulos e valores mobiliários,2015-09-30,2015,3,32340000
12,MOVI3,Fluxo de Caixa,6.01.02.02,Contas a receber,2015-09-30,2015,3,-45239000
13,MOVI3,Fluxo de Caixa,6.01.02.04,Impostos a recuperar,2015-09-30,2015,3,1162000
14,MOVI3,Fluxo de Caixa,6.01.02.05,Depósitos judiciais,2015-09-30,2015,3,1000
15,MOVI3,Fluxo de Caixa,6.01.02.07,Outros créditos,2015-09-30,2015,3,9916000
16,MOVI3,Fluxo de Caixa,6.01.02.08,Despesas antecipadas,2015-09-30,2015,3,5801000
17,MOVI3,Fluxo de Caixa,6.01.02.09,Fornecedores,2015-09-30,2015,3,106649000
18,MOVI3,Fluxo de Caixa,6.01.02.10,Obrigações trabalhistas e tributárias,2015-09-30,2015,3,3770000
19,MOVI3,Fluxo de Caixa,6.01.02.11,Contas a pagar e adiantamentos,2015-09-30,2015,3,23656000
20,MOVI3,Fluxo de Caixa,6.01.02.15,Demandas judiciais e administrativas pagas,2015-09-30,2015,3,-75000
21,MOVI3,Fluxo de Caixa,6.01.02.16,Imposto de renda e contribuição social pagos,2015-09-30,2015,3,13615000
22,MOVI3,Fluxo de Caixa,6.01.02.17,"Juros pagos s/empréstimos e financiamentos, de...",2015-09-30,2015,3,18711000
23,MOVI3,Fluxo de Caixa,6.01.03,Outros,2015-09-30,2015,3,0
24,MOVI3,Fluxo de Caixa,6.02,Caixa Líquido Atividades de Investimento,2015-09-30,2015,3,-30776000
25,MOVI3,Fluxo de Caixa,6.02.02,Ativo imobilizado,2015-09-30,2015,3,-31409000
26,MOVI3,Fluxo de Caixa,6.02.03,Intangível,2015-09-30,2015,3,633000
27,MOVI3,Fluxo de Caixa,6.03,Caixa Líquido Atividades de Financiamento,2015-09-30,2015,3,-68011000
28,MOVI3,Fluxo de Caixa,6.03.01,Aumento em empréstimos e financiamentos líquidos,2015-09-30,2015,3,221126000
29,MOVI3,Fluxo de Caixa,6.03.02,Redução em empréstimos e financiamentos,2015-09-30,2015,3,-289154000
30,MOVI3,Fluxo de Caixa,6.03.03,Investimentos de operações (AFAC),2015-09-30,2015,3,17000
31,MOVI3,Fluxo de Caixa,6.04,Variação Cambial s/ Caixa e Equivalentes,2015-09-30,2015,3,0
32,MOVI3,Fluxo de Caixa,6.05,Aumento (Redução) de Caixa e Equivalentes,2015-09-30,2015,3,272985000
33,MOVI3,Fluxo de Caixa,6.05.01,Saldo Inicial de Caixa e Equivalentes,2015-09-30,2015,3,0
34,MOVI3,Fluxo de Caixa,6.05.02,Saldo Final de Caixa e Equivalentes,2015-09-30,2015,3,272985000

In [24]:
ss = main.Balanco('MOVI3').get(1,2014,4, True)

In [25]:
pd.DataFrame(ss[1], columns=ss[0])

,CD_ATIVO,DS_IND,CONTA,DS_CONTA,DATA_REF,ANO,TRIMESTRE,VALOR
0,MOVI3,Resultado,3.01,Receita de Venda de Bens e/ou Serviços,2014-12-31,2014,4,"60,263,000.00"
1,MOVI3,Resultado,3.02,Custo dos Bens e/ou Serviços Vendidos,2014-12-31,2014,4,"-39,252,000.00"
2,MOVI3,Resultado,3.02.01,Custo das prestações de serviços,2014-12-31,2014,4,"-23,947,000.00"
3,MOVI3,Resultado,3.02.02,Custo de venda de ativos utilizados na prestaç...,2014-12-31,2014,4,"-15,305,000.00"
4,MOVI3,Resultado,3.03,Resultado Bruto,2014-12-31,2014,4,"21,011,000.00"
5,MOVI3,Resultado,3.04,Despesas/Receitas Operacionais,2014-12-31,2014,4,"-10,349,000.00"
6,MOVI3,Resultado,3.04.01,Despesas com Vendas,2014-12-31,2014,4,None
7,MOVI3,Resultado,3.04.02,Despesas Gerais e Administrativas,2014-12-31,2014,4,"-10,125,000.00"
8,MOVI3,Resultado,3.04.02.01,Despesas administrativas e comerciais,2014-12-31,2014,4,"-10,125,000.00"
9,MOVI3,Resultado,3.04.03,Perdas pela Não Recuperabilidade de Ativos,2014-12-31,2014,4,None
10,MOVI3,Resultado,3.04.04,Outras Receitas Operacionais,2014-12-31,2014,4,"-195,000.00"
11,MOVI3,Resultado,3.04.04.01,Outras receitas (despesas) operacionais líquidas,2014-12-31,2014,4,"-195,000.00"
12,MOVI3,Resultado,3.04.05,Outras Despesas Operacionais,2014-12-31,2014,4,"-29,000.00"
13,MOVI3,Resultado,3.04.05.01,Despesas tributárias,2014-12-31,2014,4,"-29,000.00"
14,MOVI3,Resultado,3.04.06,Resultado de Equivalência Patrimonial,2014-12-31,2014,4,None
15,MOVI3,Resultado,3.05,Resultado Antes do Resultado Financeiro e dos ...,2014-12-31,2014,4,"10,662,000.00"
16,MOVI3,Resultado,3.06,Resultado Financeiro,2014-12-31,2014,4,"-4,926,000.00"
17,MOVI3,Resultado,3.06.01,Receitas Financeiras,2014-12-31,2014,4,"540,000.00"
18,MOVI3,Resultado,3.06.02,Despesas Financeiras,2014-12-31,2014,4,"-5,466,000.00"
19,MOVI3,Resultado,3.07,Resultado Antes dos Tributos sobre o Lucro,2014-12-31,2014,4,"5,736,000.00"
20,MOVI3,Resultado,3.08,Imposto de Renda e Contribuição Social sobre o...,2014-12-31,2014,4,"-970,000.00"
21,MOVI3,Resultado,3.08.01,Corrente,2014-12-31,2014,4,"-970,000.00"
22,MOVI3,Resultado,3.08.02,Diferido,2014-12-31,2014,4,None
23,MOVI3,Resultado,3.09,Resultado Líquido das Operações Continuadas,2014-12-31,2014,4,"4,766,000.00"
24,MOVI3,Resultado,3.10,Resultado Líquido de Operações Descontinuadas,2014-12-31,2014,4,None
25,MOVI3,Resultado,3.10.01,Lucro/Prejuízo Líquido das Operações Descontin...,2014-12-31,2014,4,None
26,MOVI3,Resultado,3.10.02,Ganhos/Perdas Líquidas sobre Ativos de Operaçõ...,2014-12-31,2014,4,None
27,MOVI3,Resultado,3.11,Lucro/Prejuízo Consolidado do Período,2014-12-31,2014,4,"4,766,000.00"
28,MOVI3,Resultado,3.11.01,Atribuído a Sócios da Empresa Controladora,2014-12-31,2014,4,"4,766,000.00"
29,MOVI3,Resultado,3.11.02,Atribuído a Sócios Não Controladores,2014-12-31,2014,4,None
30,MOVI3,Resultado,3.99,Lucro por Ação - (Reais / Ação),2014-12-31,2014,4,0.00
31,MOVI3,Resultado,3.99.01,Lucro Básico por Ação,2014-12-31,2014,4,0.00
32,MOVI3,Resultado,3.99.02,Lucro Diluído por Ação,2014-12-31,2014,4,0.00

In [19]:
cnn.to_sql('dim_indicador', ['IND', 'DS_IND'], [[i, main.indice_ind[i]] for i in main.indice_ind], 'replace')

In [17]:
cnn.cursor.execute('select max(SK_RELATORIO) from dim_relatorio').fetchall()[0][0]

5

In [8]:
cnn.reg_existe('dim_ativo', CD_ATIVO='MOVI3')

1

In [7]:
x = cvm.Balanco('MOVI3',r'C:\Users\11111\Desktop\Python\chromedriver.exe')

In [11]:
x = bi.BalancosInv('MOVI3')

In [12]:
soup = x.get(1,2013,4, True)

KeyError: 0

In [ ]:
soup

In [12]:
x.dim_ativo().to_sql('teste', cnn, campos=['CD_CVM'])

In [ ]:
x.dim_relatorio(1,2015,4,1)

In [18]:
bi.Features(tb_relatorio[0], tb_relatorio[1])

NameError: name 'tb_relatorio' is not defined

In [10]:
x.balanco.dados.cd_cvm()

23825

In [23]:
tabela[1][0]

array(['MOVI3', 'Valor Adicionado', '7.01', 'Receitas',
       datetime.date(2015, 1, 1), datetime.date(2015, 12, 31), 2015, 1, 4,
       1290139000.0], dtype=object)

In [25]:
tabela[1][0]

array(['MOVI3', 'Valor Adicionado', '7.01', 'Receitas',
       datetime.date(2015, 12, 31), 2015, 4, 397037000.0], dtype=object)

In [9]:
sss = main.Balanco('MOVI3')

In [10]:
sss

In [13]:
sss.balanco.raw(1,2014,1)

[<tr><th class="esquerda">Conta</th><th class="esquerda">Descrição</th><th class="direita">// a //<br/></th><th class="direita percent">% total</th><th class="direita">// a //<br/></th><th class="direita percent">% total</th><th class="direita">// a //<br/></th><th class="direita percent">% total</th><th class="direita">// a //<br/></th><th class="direita percent">% total</th></tr>,
 <tr><td> </td><td> </td><td> </td><td class="percent"> </td><td> </td><td class="percent"> </td><td> </td><td class="percent"> </td><td> </td><td class="percent"> </td></tr>]

In [34]:
sss.balanco.raw(1,2015,1)[2:]

[<tr class="principal"><td class="esquerda">3.01</td><td class="esquerda">Receita de Venda de Bens e/ou Serviços</td><td class="direita">228.405</td><td class="direita percent">100,00%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.02</td><td class="esquerda">Custo dos Bens e/ou Serviços Vendidos</td><td class="direita">-158.365</td><td class="direita percent">-69,34%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.02.01</td><td class="esquerda padding_sub_1">Custo das prestações de serviços</td><td class="direita">-81.817</td><td class="direita percent">-35,82%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.02.02</td><td class="esquerda padding_sub_1">Custo de venda de ativos utilizados na prestação de serviços</td><td class="direita">-76.548</td><td class="direita percent">-33,51%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.03</td><td class="esquerda">Resultado Bruto</td><td class="direita">70.040</td><td class="direita percent">30,66%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.04</td><td class="esquerda">Despesas/Receitas Operacionais</td><td class="direita">-22.322</td><td class="direita percent">-9,77%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.01</td><td class="esquerda padding_sub_1">Despesas com Vendas</td><td class="direita">0</td><td class="direita percent">-</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.02</td><td class="esquerda padding_sub_1">Despesas Gerais e Administrativas</td><td class="direita">-20.786</td><td class="direita percent">-9,10%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.02.01</td><td class="esquerda padding_sub_2">Despesas administrativas e comerciais</td><td class="direita">-20.786</td><td class="direita percent">-9,10%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.03</td><td class="esquerda padding_sub_1">Perdas pela Não Recuperabilidade de Ativos</td><td class="direita">0</td><td class="direita percent">-</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.04</td><td class="esquerda padding_sub_1">Outras Receitas Operacionais</td><td class="direita">-1.383</td><td class="direita percent">-0,61%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.04.01</td><td class="esquerda padding_sub_2">Outras receitas (despesas) operacionais líquidas</td><td class="direita">-1.383</td><td class="direita percent">-0,61%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.05</td><td class="esquerda padding_sub_1">Outras Despesas Operacionais</td><td class="direita">-153</td><td class="direita percent">-0,07%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.05.01</td><td class="esquerda padding_sub_2">Despesas tributarias</td><td class="direita">-153</td><td class="direita percent">-0,07%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.04.06</td><td class="esquerda padding_sub_1">Resultado de Equivalência Patrimonial</td><td class="direita">0</td><td class="direita percent">-</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.05</td><td class="esquerda">Resultado Antes do Resultado Financeiro e dos Tributos</td><td class="direita">47.718</td><td class="direita percent">20,89%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.06</td><td class="esquerda">Resultado Financeiro</td><td class="direita">-11.796</td><td class="direita percent">-5,16%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.06.01</td><td class="esquerda padding_sub_1">Receitas Financeiras</td><td class="direita">2.698</td><td class="direita percent">1,18%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.06.02</td><td class="esquerda padding_sub_1">Despesas Financeiras</td><td class="direita">-14.494</td><td class="direita percent">-6,35%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.07</td><td class="esquerda">Resultado Antes dos Tributos sobre o Lucro</td><td class="direita">35.922</td><td class="direita percent">15,73%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.08</td><td class="esquerda">Imposto de Renda e Contribuição Social sobre o Lucro</td><td class="direita">-11.695</td><td class="direita percent">-5,12%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.08.01</td><td class="esquerda padding_sub_1">Corrente</td><td class="direita">-11.695</td><td class="direita percent">-5,12%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.08.02</td><td class="esquerda padding_sub_1">Diferido</td><td class="direita">0</td><td class="direita percent">-</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.09</td><td class="esquerda">Resultado Líquido das Operações Continuadas</td><td class="direita">24.227</td><td class="direita percent">10,61%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.10</td><td class="esquerda">Resultado Líquido de Operações Descontinuadas</td><td class="direita">0</td><td class="direita percent">-</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.10.01</td><td class="esquerda padding_sub_1">Lucro/Prejuízo Líquido das Operações Descontinuadas</td><td class="direita">0</td><td class="direita percent">-</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.10.02</td><td class="esquerda padding_sub_1">Ganhos/Perdas Líquidas sobre Ativos de Operações Descontinuadas</td><td class="direita">0</td><td class="direita percent">-</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.11</td><td class="esquerda">Lucro/Prejuízo Consolidado do Período</td><td class="direita">24.227</td><td class="direita percent">10,61%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.11.01</td><td class="esquerda padding_sub_1">Atribuído a Sócios da Empresa Controladora</td><td class="direita">24.227</td><td class="direita percent">10,61%</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.11.02</td><td class="esquerda padding_sub_1">Atribuído a Sócios Não Controladores</td><td class="direita">0</td><td class="direita percent">-</td><td class="direita">0</td><td class="direita percent">-</td></tr>,
 <tr class="principal"><td class="esquerda">3.99</td><td class="esquerda">Lucro por Ação - (Reais / Ação)</td><td class="direita">0,00000</td><td class="direita percent">-</td><td class="direita">0,00000</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.99.01</td><td class="esquerda padding_sub_1">Lucro Básico por Ação</td><td class="direita">0,00000</td><td class="direita percent">-</td><td class="direita">0,00000</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.99.01.01</td><td class="esquerda padding_sub_2">ON</td><td class="direita">0,03881</td><td class="direita percent">0,00%</td><td class="direita">0,00000</td><td class="direita percent">-</td></tr>,
 <tr class="secundaria"><td class="esquerda">3.99.02</td><td class="esquerda padding_sub_1">Lucro Diluído por Ação</td><td class="direita">0,00000</td><td class="direita percent">-</td><td class="direita">0,00000</td><td class="direita percent">-</td></tr>]

In [21]:
soup.find('table', id='_itr')

In [30]:
if not sss.balanco.raw(1,2015,3).find('table', id='_itr'):
    print(1)

1

In [19]:
pd.DataFrame(tabela[1], columns=tabela[0])

,CD_ATIVO,IND,CONTA,DS_CONTA,DATA_REF,ANO,TRIMESTRE,VALOR
0,MOVI3,Resultado,3.01,Receita de Venda de Bens e/ou Serviços,2015-12-31,2015,4,"333,641,000.00"
1,MOVI3,Resultado,3.02,Custo dos Bens e/ou Serviços Vendidos,2015-12-31,2015,4,"-275,276,000.00"
2,MOVI3,Resultado,3.02.01,Custo das prestações de serviços,2015-12-31,2015,4,"-94,276,000.00"
3,MOVI3,Resultado,3.02.02,Custo de venda de ativos utilizados na prestaç...,2015-12-31,2015,4,"-181,000,000.00"
4,MOVI3,Resultado,3.03,Resultado Bruto,2015-12-31,2015,4,"58,365,000.00"
5,MOVI3,Resultado,3.04,Despesas/Receitas Operacionais,2015-12-31,2015,4,"-36,297,000.00"
6,MOVI3,Resultado,3.04.01,Despesas com Vendas,2015-12-31,2015,4,0
7,MOVI3,Resultado,3.04.02,Despesas Gerais e Administrativas,2015-12-31,2015,4,"-30,797,000.00"
8,MOVI3,Resultado,3.04.02.01,Despesas administrativas e comerciais,2015-12-31,2015,4,"-30,797,000.00"
9,MOVI3,Resultado,3.04.03,Perdas pela Não Recuperabilidade de Ativos,2015-12-31,2015,4,0
10,MOVI3,Resultado,3.04.04,Outras Receitas Operacionais,2015-12-31,2015,4,"-5,388,000.00"
11,MOVI3,Resultado,3.04.04.01,Outras receitas (despesas) operacionais líquidas,2015-12-31,2015,4,"-5,388,000.00"
12,MOVI3,Resultado,3.04.05,Outras Despesas Operacionais,2015-12-31,2015,4,"-112,000.00"
13,MOVI3,Resultado,3.04.05.01,Despesas tributárias,2015-12-31,2015,4,"-112,000.00"
14,MOVI3,Resultado,3.04.06,Resultado de Equivalência Patrimonial,2015-12-31,2015,4,0
15,MOVI3,Resultado,3.05,Resultado Antes do Resultado Financeiro e dos ...,2015-12-31,2015,4,"22,068,000.00"
16,MOVI3,Resultado,3.06,Resultado Financeiro,2015-12-31,2015,4,"-32,320,000.00"
17,MOVI3,Resultado,3.06.01,Receitas Financeiras,2015-12-31,2015,4,"14,436,000.00"
18,MOVI3,Resultado,3.06.02,Despesas Financeiras,2015-12-31,2015,4,"-46,756,000.00"
19,MOVI3,Resultado,3.07,Resultado Antes dos Tributos sobre o Lucro,2015-12-31,2015,4,"-10,252,000.00"
20,MOVI3,Resultado,3.08,Imposto de Renda e Contribuição Social sobre o...,2015-12-31,2015,4,"8,517,000.00"
21,MOVI3,Resultado,3.08.01,Corrente,2015-12-31,2015,4,"-5,105,000.00"
22,MOVI3,Resultado,3.08.02,Diferido,2015-12-31,2015,4,0
23,MOVI3,Resultado,3.09,Resultado Líquido das Operações Continuadas,2015-12-31,2015,4,"-1,735,000.00"
24,MOVI3,Resultado,3.10,Resultado Líquido de Operações Descontinuadas,2015-12-31,2015,4,"19,482,000.00"
25,MOVI3,Resultado,3.10.01,Lucro/Prejuízo Líquido das Operações Descontin...,2015-12-31,2015,4,0
26,MOVI3,Resultado,3.10.02,Ganhos/Perdas Líquidas sobre Ativos de Operaçõ...,2015-12-31,2015,4,0
27,MOVI3,Resultado,3.11,Lucro/Prejuízo Consolidado do Período,2015-12-31,2015,4,"17,747,000.00"
28,MOVI3,Resultado,3.11.01,Atribuído a Sócios da Empresa Controladora,2015-12-31,2015,4,"17,747,000.00"
29,MOVI3,Resultado,3.11.02,Atribuído a Sócios Não Controladores,2015-12-31,2015,4,0
30,MOVI3,Resultado,3.99,Lucro por Ação - (Reais / Ação),2015-12-31,2015,4,0
31,MOVI3,Resultado,3.99.01,Lucro Básico por Ação,2015-12-31,2015,4,0
32,MOVI3,Resultado,3.99.01.01,ON,2015-12-31,2015,4,68.60
33,MOVI3,Resultado,3.99.02,Lucro Diluído por Ação,2015-12-31,2015,4,0

In [ ]:
tabela[0].find_all('td')

In [ ]:
[[i.text.replace('\xa0','') for n, i in enumerate(j.find_all('td')[:4])] for j in tabela]

In [17]:
pd.DataFrame(tabela[1], columns = tabela[0])

,CD_ATIVO,IND,CD_RELATORIO,CONTA,DS_CONTA,DATA_ENT,DATA_REF,ANO,TRIMESTRE,VALOR
0,MOVI3,Resultado,53149,3.01,Receita de Venda de Bens e/ou Serviços,2016-02-01,2015-03-31,2015,1,None
1,MOVI3,Resultado,53149,3.02,Custo dos Bens e/ou Serviços Vendidos,2016-02-01,2015-03-31,2015,1,None
2,MOVI3,Resultado,53149,3.02.01,Custo das prestações de serviços,2016-02-01,2015-03-31,2015,1,None
3,MOVI3,Resultado,53149,3.02.02,Custo de venda de ativos utilizados na prestaç...,2016-02-01,2015-03-31,2015,1,None
4,MOVI3,Resultado,53149,3.03,Resultado Bruto,2016-02-01,2015-03-31,2015,1,None
5,MOVI3,Resultado,53149,3.04,Despesas/Receitas Operacionais,2016-02-01,2015-03-31,2015,1,None
6,MOVI3,Resultado,53149,3.04.01,Despesas com Vendas,2016-02-01,2015-03-31,2015,1,None
7,MOVI3,Resultado,53149,3.04.02,Despesas Gerais e Administrativas,2016-02-01,2015-03-31,2015,1,None
8,MOVI3,Resultado,53149,3.04.02.01,Despesas administrativas e comerciais,2016-02-01,2015-03-31,2015,1,None
9,MOVI3,Resultado,53149,3.04.03,Perdas pela Não Recuperabilidade de Ativos,2016-02-01,2015-03-31,2015,1,None
10,MOVI3,Resultado,53149,3.04.04,Outras Receitas Operacionais,2016-02-01,2015-03-31,2015,1,None
11,MOVI3,Resultado,53149,3.04.04.01,Outras receitas (despesas) operacionais líquidas,2016-02-01,2015-03-31,2015,1,None
12,MOVI3,Resultado,53149,3.04.05,Outras Despesas Operacionais,2016-02-01,2015-03-31,2015,1,None
13,MOVI3,Resultado,53149,3.04.05.01,Despesas tributarias,2016-02-01,2015-03-31,2015,1,None
14,MOVI3,Resultado,53149,3.04.06,Resultado de Equivalência Patrimonial,2016-02-01,2015-03-31,2015,1,None
15,MOVI3,Resultado,53149,3.05,Resultado Antes do Resultado Financeiro e dos ...,2016-02-01,2015-03-31,2015,1,None
16,MOVI3,Resultado,53149,3.06,Resultado Financeiro,2016-02-01,2015-03-31,2015,1,None
17,MOVI3,Resultado,53149,3.06.01,Receitas Financeiras,2016-02-01,2015-03-31,2015,1,None
18,MOVI3,Resultado,53149,3.06.02,Despesas Financeiras,2016-02-01,2015-03-31,2015,1,None
19,MOVI3,Resultado,53149,3.07,Resultado Antes dos Tributos sobre o Lucro,2016-02-01,2015-03-31,2015,1,None
20,MOVI3,Resultado,53149,3.08,Imposto de Renda e Contribuição Social sobre o...,2016-02-01,2015-03-31,2015,1,None
21,MOVI3,Resultado,53149,3.08.01,Corrente,2016-02-01,2015-03-31,2015,1,None
22,MOVI3,Resultado,53149,3.08.02,Diferido,2016-02-01,2015-03-31,2015,1,None
23,MOVI3,Resultado,53149,3.09,Resultado Líquido das Operações Continuadas,2016-02-01,2015-03-31,2015,1,None
24,MOVI3,Resultado,53149,3.10,Resultado Líquido de Operações Descontinuadas,2016-02-01,2015-03-31,2015,1,None
25,MOVI3,Resultado,53149,3.10.01,Lucro/Prejuízo Líquido das Operações Descontin...,2016-02-01,2015-03-31,2015,1,None
26,MOVI3,Resultado,53149,3.10.02,Ganhos/Perdas Líquidas sobre Ativos de Operaçõ...,2016-02-01,2015-03-31,2015,1,None
27,MOVI3,Resultado,53149,3.11,Lucro/Prejuízo Consolidado do Período,2016-02-01,2015-03-31,2015,1,None
28,MOVI3,Resultado,53149,3.11.01,Atribuído a Sócios da Empresa Controladora,2016-02-01,2015-03-31,2015,1,None
29,MOVI3,Resultado,53149,3.11.02,Atribuído a Sócios Não Controladores,2016-02-01,2015-03-31,2015,1,None
30,MOVI3,Resultado,53149,3.99,Lucro por Ação - (Reais / Ação),2016-02-01,2015-03-31,2015,1,None
31,MOVI3,Resultado,53149,3.99.01,Lucro Básico por Ação,2016-02-01,2015-03-31,2015,1,None
32,MOVI3,Resultado,53149,3.99.01.01,ON,2016-02-01,2015-03-31,2015,1,0.00
33,MOVI3,Resultado,53149,3.99.02,Lucro Diluído por Ação,2016-02-01,2015-03-31,2015,1,None

In [17]:
cd_cvm = cnn.cursor.execute("select cd_cvm from dim_ativo where CD_ATIVO=='MOfVI3'").fetchone()

In [17]:
#x.balanco.__dict__

In [27]:
tabela = x.get(1,2015,3,False)
bi.Features(tabela[0], tabela[1])['CONTA', 'DS_CONTA'].to_sql('dim_conta', cnn)

In [28]:
cnn.cursor.execute('create table temp_dim_conta as select distinct * from dim_conta')
cnn.cursor.execute('drop table dim_conta')
cnn.cursor.execute('create table dim_conta as select distinct * from temp_dim_conta')
cnn.cursor.execute('drop table temp_dim_conta')

In [11]:
x.fat_balancos_cvm_desagregado(1,2015,3)

------  ---  ------------  ----------  ------------
CD_CVM  IND  CD_RELATORIO  CONTA       VALOR
23825   1    53151         3.01        350753000.0
23825   1    53151         3.02        -273428000.0
23825   1    53151         3.02.01     -112623000.0
23825   1    53151         3.02.02     -160805000.0
23825   1    53151         3.03        77325000.0
23825   1    53151         3.04        -30003000.0
23825   1    53151         3.04.01
23825   1    53151         3.04.02     -24144000.0
23825   1    53151         3.04.02.01  -24144000.0
23825   1    53151         3.04.03
23825   1    53151         3.04.04     -5522000.0
23825   1    53151         3.04.04.01  -5522000.0
23825   1    53151         3.04.05     -337000.0
23825   1    53151         3.04.05.01  -337000.0
23825   1    53151         3.04.06
23825   1    53151         3.05        47322000.0
23825   1    53151         3.06        -28020000.0
23825   1    53151         3.06.01     8218000.0
23825   1    53151         3.06.02     -36238000.0
23825   1    53151         3.07        19302000.0
23825   1    53151         3.08        -7059000.0
23825   1    53151         3.08.01
23825   1    53151         3.08.02
23825   1    53151         3.09        12243000.0
23825   1    53151         3.10
23825   1    53151         3.10.01
23825   1    53151         3.10.02
23825   1    53151         3.11        12243000.0
23825   1    53151         3.11.01     12243000.0
23825   1    53151         3.11.02
23825   1    53151         3.99
23825   1    53151         3.99.01
23825   1    53151         3.99.01.01  0.0
23825   1    53151         3.99.02
------  ---  ------------  ----------  ------------

In [12]:
x.fat_balancos_cvm_agregado(1,2015,3)

------  ---  ------------  ----------  ------------
CD_CVM  IND  CD_RELATORIO  CONTA       VALOR
23825   1    53151         3.01        350753000.0
23825   1    53151         3.02        -273428000.0
23825   1    53151         3.02.01     -112623000.0
23825   1    53151         3.02.02     -160805000.0
23825   1    53151         3.03        77325000.0
23825   1    53151         3.04        -30003000.0
23825   1    53151         3.04.01
23825   1    53151         3.04.02     -24144000.0
23825   1    53151         3.04.02.01  -24144000.0
23825   1    53151         3.04.03
23825   1    53151         3.04.04     -5522000.0
23825   1    53151         3.04.04.01  -5522000.0
23825   1    53151         3.04.05     -337000.0
23825   1    53151         3.04.05.01  -337000.0
23825   1    53151         3.04.06
23825   1    53151         3.05        47322000.0
23825   1    53151         3.06        -28020000.0
23825   1    53151         3.06.01     8218000.0
23825   1    53151         3.06.02     -36238000.0
23825   1    53151         3.07        19302000.0
23825   1    53151         3.08        -7059000.0
23825   1    53151         3.08.01
23825   1    53151         3.08.02
23825   1    53151         3.09        12243000.0
23825   1    53151         3.10
23825   1    53151         3.10.01
23825   1    53151         3.10.02
23825   1    53151         3.11        12243000.0
23825   1    53151         3.11.01     12243000.0
23825   1    53151         3.11.02
23825   1    53151         3.99
23825   1    53151         3.99.01
23825   1    53151         3.99.01.01  0.0
23825   1    53151         3.99.02
------  ---  ------------  ----------  ------------

In [22]:
x.dim_relatorios_datas_aggs(1,2015,3).to_sql('dim_relatorios_datas_aggs', cnn, campos=['CD_CVM', 'IND', 'CD_RELATORIO'])

In [17]:
x.dim_ativo().to_sql('dim_ativo', cnn, campos=['CD_CVM'])

In [20]:
x.dim_relatorios().to_sql('dim_relatorios', cnn, campos=['CD_CVM', 'ANO'])

In [18]:
[i for i in range(2016, 2016)]

[]

In [7]:
cnn = bi.sqlite(r'C:\Users\11111\Desktop\fmtpy\db\balancos.db')

In [10]:
z = bi.Upload(cnn, ['MOVI3'], [2014, 2016], r'C:\Users\11111\Desktop\Python\chromedriver.exe')
z.go()

4
3
2
1
4
2
3
1
4

In [13]:
cnn.reg_existe('dim_relatorios', CD_CVM=23825, ANO=2014, TRIMESTRE=4)

1

In [120]:
relatorios = cnn.cursor.execute('select * from dim_relatorios where CD_CVM=23825 and ANO=2017').fetchall()

In [121]:
relatorios = np.array([list(i) for i in relatorios], dtype=object)

In [125]:
relatorios

array([], dtype=object)

In [122]:
for n in [4,5]:
    relatorios[:,n] = [datetime.strptime(i, "%Y-%m-%d").date() for i in relatorios[:,n]]

IndexError: too many indices for array

In [124]:
{2015:dict(zip(relatorios[:,3], [i for i in relatorios[:,[4,5,1]]]))}

IndexError: too many indices for array

In [129]:
x.balanco.relatorios

{2015: {3: array([datetime.date(2015, 9, 30), datetime.date(2016, 2, 1), 53151],
        dtype=object),
  2: array([datetime.date(2015, 6, 30), datetime.date(2016, 2, 1), 53150],
        dtype=object),
  1: array([datetime.date(2015, 3, 31), datetime.date(2016, 2, 1), 53149],
        dtype=object),
  4: array([datetime.date(2015, 12, 31), datetime.date(2016, 4, 1), 54942],
        dtype=object)}}