In [1]:
import main
import numpy as np

In [2]:
import bi

In [3]:
import cvmpy as cvm

In [4]:
import numpy as np

In [5]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [6]:
#x = main.Balanco('MGLU3')

In [7]:
x = bi.Balancos('PETR4',r'C:\Users\11111\Desktop\Python\chromedriver.exe')

In [8]:
tabela = x.fat_balancos_cvm_agregado(5,2019,4)

Obtendo Fluxo de Caixa para PETR4 referente ao 4º trimestre de 2019

C:\Users\11111\Desktop\fmtpy\fmtpy\fmtpy\cvmpy.py:138: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 138 of the file C:\Users\11111\Desktop\fmtpy\fmtpy\fmtpy\cvmpy.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response)

In [9]:
pd.DataFrame(tabela[1], columns=tabela[0])

   CD_CVM IND CD_RELATORIO       CONTA               VALOR
0    9512   5        91100        6.01  101,766,000,000.00
1    9512   5        91100     6.01.01  134,697,000,000.00
2    9512   5        91100  6.01.01.01   40,970,000,000.00
3    9512   5        91100  6.01.01.02    8,219,000,000.00
4    9512   5        91100  6.01.01.03     -547,000,000.00
5    9512   5        91100  6.01.01.04   58,502,000,000.00
6    9512   5        91100  6.01.01.05   11,630,000,000.00
7    9512   5        91100  6.01.01.06    1,250,000,000.00
8    9512   5        91100  6.01.01.07                None
9    9512   5        91100  6.01.01.08   33,259,000,000.00
10   9512   5        91100  6.01.01.09   11,036,000,000.00
11   9512   5        91100  6.01.01.10      343,000,000.00
12   9512   5        91100  6.01.01.11       68,000,000.00
13   9512   5        91100  6.01.01.12                None
14   9512   5        91100  6.01.01.13    3,765,000,000.00
15   9512   5        91100  6.01.01.15                None
16   9512   5        91100  6.01.01.16                None
17   9512   5        91100  6.01.01.17  -23,670,000,000.00
18   9512   5        91100  6.01.01.18  -10,128,000,000.00
19   9512   5        91100     6.01.02  -32,931,000,000.00
20   9512   5        91100  6.01.02.01    8,578,000,000.00
21   9512   5        91100  6.01.02.02   -1,208,000,000.00
22   9512   5        91100  6.01.02.03   -8,427,000,000.00
23   9512   5        91100  6.01.02.04    7,424,000,000.00
24   9512   5        91100  6.01.02.05     -655,000,000.00
25   9512   5        91100  6.01.02.06   -3,821,000,000.00
26   9512   5        91100  6.01.02.07      870,000,000.00
27   9512   5        91100  6.01.02.08   -7,489,000,000.00
28   9512   5        91100  6.01.02.09  -14,922,000,000.00
29   9512   5        91100  6.01.02.10      681,000,000.00
30   9512   5        91100  6.01.02.11   -9,198,000,000.00
31   9512   5        91100  6.01.02.12   -2,028,000,000.00
32   9512   5        91100  6.01.02.13   -2,892,000,000.00
33   9512   5        91100  6.01.02.14   -1,068,000,000.00
34   9512   5        91100  6.01.02.15    1,224,000,000.00
35   9512   5        91100     6.01.03                None
36   9512   5        91100        6.02   -7,952,000,000.00
37   9512   5        91100     6.02.01  -34,010,000,000.00
38   9512   5        91100     6.02.02      -29,000,000.00
39   9512   5        91100     6.02.03   41,049,000,000.00
40   9512   5        91100     6.02.04      837,000,000.00
41   9512   5        91100     6.02.05    5,732,000,000.00
42   9512   5        91100     6.02.06  -63,141,000,000.00
43   9512   5        91100     6.02.07   34,414,000,000.00
44   9512   5        91100     6.02.08    7,196,000,000.00
45   9512   5        91100        6.03 -126,336,000,000.00
46   9512   5        91100     6.03.01      -99,000,000.00
47   9512   5        91100     6.03.02   29,156,000,000.00
48   9512   5        91100     6.03.03 -107,090,000,000.00
49   9512   5        91100     6.03.04  -17,623,000,000.00
50   9512   5        91100     6.03.05   -7,488,000,000.00
51   9512   5        91100     6.03.06     -550,000,000.00
52   9512   5        91100     6.03.07                None
53   9512   5        91100     6.03.08  -20,660,000,000.00
54   9512   5        91100     6.03.09   -1,982,000,000.00
55   9512   5        91100        6.04    8,397,000,000.00
56   9512   5        91100        6.05  -24,125,000,000.00
57   9512   5        91100     6.05.01   53,854,000,000.00
58   9512   5        91100     6.05.02   29,729,000,000.00

In [10]:
cnn = bi.sqlite(r'C:\Users\11111\Desktop\fmtpy\db\teste.db')

In [17]:
bi.Features(tabela[0], tabela[1]).to_sql('fat_balancos_cvm_desagregado', cnn, campos=['CD_CVM', 'IND', 'CD_RELATORIO'], sobrescrever=True)

1

In [13]:
cnn.reg_existe

In [18]:
main.indice_ind

{1: 'Resultado',
 2: 'Balanço Ativo',
 3: 'Balanço Passivo',
 4: 'Resultado Abrangente',
 5: 'Fluxo de Caixa',
 6: 'Valor Adicionado',
 7: 'Mutações do PL'}

In [20]:
for i in range(1,5):
    print(i)

1
2
3
4