In [1]:
import main
import numpy as np

In [2]:
import bi

In [3]:
import cvmpy as cvm

In [4]:
import numpy as np

In [5]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [6]:
#x = main.Balanco('MGLU3')

In [7]:
x = bi.Balancos('MGLU3',r'C:\Users\11111\Desktop\Python\chromedriver.exe')

In [16]:
tabela = x.fat_balancos_cvm_agregado(5,2019,3)

Obtendo Fluxo de Caixa para MGLU3 referente ao 3ยบ trimestre de 2019

In [19]:
tabela = x.dim_relatorios_datas_aggs(5,2019,4)

In [15]:
pd.DataFrame(tabela[1], columns=tabela[0])

  CD_ATIVO CD_RELATORIO   ANO TRIMESTRE    DATA_REF    DATA_ENT
0    MGLU3        88872  2019         3  2019-09-30  2019-10-29
1    MGLU3        86340  2019         2  2019-06-30  2019-08-12
2    MGLU3        82751  2019         1  2019-03-31  2019-05-06
3    MGLU3        90983  2019         4  2019-12-31  2020-02-17

In [20]:
pd.DataFrame(tabela[1], columns=tabela[0])

,CD_ATIVO,CD_RELATORIO,ANO,TRIMESTRE_INI,TRIMESTRE_FIM,DATA_REF_INI,DATA_REF_FIM
0,MGLU3,88872,2019,1,3,2019-01-01,2019-09-30

In [74]:
tabela[1]

array([['MGLU3', '22470', '47.960.950/0001-21', 'BRMGLUACNOR2']],
      dtype='<U18')

In [78]:
relat = [['CD_ATIVO', 'CD_RELATORIO', 'ANO', 'TRIMESTRE_INI', 'TRIMESTRE_FIM', 'DATA_REF_INI', 'DATA_REF_FIM'],
np.array([[x.papel,x.balanco.relatorios[x.ano][x.tri][2], x.ano] + x.trimestres[0] + x.datas[0]])]

In [79]:
bi.Features(relat[0], relat[1])

--------  ------------  ----  -------------  -------------  ------------  ------------
CD_ATIVO  CD_RELATORIO  ANO   TRIMESTRE_INI  TRIMESTRE_FIM  DATA_REF_INI  DATA_REF_FIM
MGLU3     88872         2019  3              3              2019-07-01    2019-09-30
--------  ------------  ----  -------------  -------------  ------------  ------------

In [9]:
con = bi.sqlite(r'C:\Users\11111\Desktop\fmtpy\db\teste.db')

In [10]:
con.reg_existe('teste4', CD_ATIVO='MGLU3')

32

In [14]:
bi.Features(tabela[0], tabela[1]).to_sql('teste4',con, campos='CD_ATIVO', replace=True)

1

In [10]:
x.dim_ativo()

[['CD_ATIVO', 'CD_CVM', 'CNPJ', 'ISIN'],
 array([['MGLU3', '22470', '47.960.950/0001-21', 'BRMGLUACNOR2']],
       dtype='<U18')]

In [11]:
x.dim_relatorios()

[['DATA_REF', 'DATA_ENT', 'CD_RELATORIO', 'TRIMESTRE', 'ANO', 'CD_ATIVO'],
 array([[datetime.date(2018, 9, 30), datetime.date(2018, 11, 5), 78649, 3,
         2018, 'MGLU3'],
        [datetime.date(2018, 6, 30), datetime.date(2018, 8, 6), 76709, 2,
         2018, 'MGLU3'],
        [datetime.date(2018, 3, 31), datetime.date(2018, 5, 7), 73853, 1,
         2018, 'MGLU3'],
        [datetime.date(2018, 12, 31), datetime.date(2019, 2, 25), 80863,
         4, 2018, 'MGLU3']], dtype=object)]

In [13]:
main.Dados('PETR4').isin()

'BRPETRACNPR6'

In [32]:
query = f" select count (*) from teste4 where CD_ATIVO='VALE3'"
con.cursor.execute(query).fetchone()[0]

34

In [11]:
dict(zip(ss[0], ss[1]))

{'CD_ATIVO': 'MOVI3', 'DS_CONTA': 'Receita de Venda de Bens e/ou Serviรงos'}

In [8]:
#x.balanco.relatorios

In [35]:
tabela

[['CD_ATIVO',
  'CONTA',
  'DS_CONTA',
  'CD_RELATORIO',
  'DATA_ENT',
  'DATA_REF',
  'ANO',
  'TRIMESTRE',
  'VALOR'],
 array([['MGLU3', '3.01', 'Receita de Venda de Bens e/ou Serviรงos', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         3613263000.0],
        ['MGLU3', '3.02', 'Custo dos Bens e/ou Serviรงos Vendidos', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -2569908000.0],
        ['MGLU3', '3.03', 'Resultado Bruto', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         1043355000.0],
        ['MGLU3', '3.04', 'Despesas/Receitas Operacionais', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -780085000.0],
        ['MGLU3', '3.04.01', 'Despesas com Vendas', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -641873000.0],
        ['MGLU3', '3.04.02', 'Despesas Gerais e Administrativas', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -170175000.0],
        ['MGLU3', '3.04.02.01', 'Gerais e Administrativas', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -132940000.0],
        ['MGLU3', '3.04.02.02', 'Depreciaรงรฃo', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -37235000.0],
        ['MGLU3', '3.04.03', 'Perdas pela Nรฃo Recuperabilidade de Ativos',
         73853, datetime.date(2018, 5, 7), datetime.date(2018, 3, 31),
         2018, 1, -12492000.0],
        ['MGLU3', '3.04.04', 'Outras Receitas Operacionais', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         21136000.0],
        ['MGLU3', '3.04.05', 'Outras Despesas Operacionais', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         None],
        ['MGLU3', '3.04.06', 'Resultado de Equivalรชncia Patrimonial',
         73853, datetime.date(2018, 5, 7), datetime.date(2018, 3, 31),
         2018, 1, 23319000.0],
        ['MGLU3', '3.05',
         'Resultado Antes do Resultado Financeiro e dos Tributos', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         263270000.0],
        ['MGLU3', '3.06', 'Resultado Financeiro', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -59773000.0],
        ['MGLU3', '3.06.01', 'Receitas Financeiras', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         23764000.0],
        ['MGLU3', '3.06.02', 'Despesas Financeiras', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -83537000.0],
        ['MGLU3', '3.07', 'Resultado Antes dos Tributos sobre o Lucro',
         73853, datetime.date(2018, 5, 7), datetime.date(2018, 3, 31),
         2018, 1, 203497000.0],
        ['MGLU3', '3.08',
         'Imposto de Renda e Contribuiรงรฃo Social sobre o Lucro', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         -56014000.0],
        ['MGLU3', '3.08.01', 'Corrente', 73853, datetime.date(2018, 5, 7),
         datetime.date(2018, 3, 31), 2018, 1, None],
        ['MGLU3', '3.08.02', 'Diferido', 73853, datetime.date(2018, 5, 7),
         datetime.date(2018, 3, 31), 2018, 1, None],
        ['MGLU3', '3.09', 'Resultado Lรญquido das Operaรงรตes Continuadas',
         73853, datetime.date(2018, 5, 7), datetime.date(2018, 3, 31),
         2018, 1, 147483000.0],
        ['MGLU3', '3.10', 'Resultado Lรญquido de Operaรงรตes Descontinuadas',
         73853, datetime.date(2018, 5, 7), datetime.date(2018, 3, 31),
         2018, 1, None],
        ['MGLU3', '3.10.01',
         'Lucro/Prejuรญzo Lรญquido das Operaรงรตes Descontinuadas', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         None],
        ['MGLU3', '3.10.02',
         'Ganhos/Perdas Lรญquidas sobre Ativos de Operaรงรตes Descontinuadas',
         73853, datetime.date(2018, 5, 7), datetime.date(2018, 3, 31),
         2018, 1, None],
        ['MGLU3', '3.11', 'Lucro/Prejuรญzo Consolidado do Perรญodo', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         147483000.0],
        ['MGLU3', '3.11.01', 'Atribuรญdo a Sรณcios da Empresa Controladora',
         73853, datetime.date(2018, 5, 7), datetime.date(2018, 3, 31),
         2018, 1, 147483000.0],
        ['MGLU3', '3.11.02', 'Atribuรญdo a Sรณcios Nรฃo Controladores',
         73853, datetime.date(2018, 5, 7), datetime.date(2018, 3, 31),
         2018, 1, None],
        ['MGLU3', '3.99', 'Lucro por Aรงรฃo - (Reais / Aรงรฃo)', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         None],
        ['MGLU3', '3.99.01', 'Lucro Bรกsico por Aรงรฃo', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         None],
        ['MGLU3', '3.99.01.01', 'ON', 73853, datetime.date(2018, 5, 7),
         datetime.date(2018, 3, 31), 2018, 1, 780.0],
        ['MGLU3', '3.99.02', 'Lucro Diluรญdo por Aรงรฃo', 73853,
         datetime.date(2018, 5, 7), datetime.date(2018, 3, 31), 2018, 1,
         None],
        ['MGLU3', '3.99.02.01', 'ON', 73853, datetime.date(2018, 5, 7),
         datetime.date(2018, 3, 31), 2018, 1, 777.0]], dtype=object)]

In [47]:
con = bi.sqlite(r'C:\Users\11111\Desktop\fmtpy\db\teste.db')

NameError: name 'bi' is not defined

In [20]:
con.to_sql('teste4', tabela[0], tabela[1], 'append')

In [21]:
dic = {'CD_ATIVO':'MGLU3'}

In [22]:
con.delete_from('teste4', **dic)

In [46]:
del bi

NameError: name 'con' is not defined

In [75]:
x.__dict__

{'papel': 'HYPE3',
 'site': False,
 'balanco': <cvmpy.Raw at 0x1d2946d1198>,
 'wdriver': 'C:\\Users\\11111\\Desktop\\Python\\chromedriver.exe',
 'ind': 1,
 'ano': 2019,
 'tri': 1,
 'ajustado': True}

In [36]:
tb_ativo=[['CD_ATIVO','CD_CVM','CNPJ','ISIN'],
 np.array([[x.papel, x.balanco.dados.__cd_cvm,
x.balanco.dados.__cnpj,
x.balanco.dados.isin()]])]

In [37]:
tb_ativo

[['CD_ATIVO', 'CD_CVM', 'CNPJ', 'ISIN'],
 array([['MGLU3', '22470', '47.960.950/0001-21', 'Ordinรกria']],
       dtype='<U18')]

In [44]:
relat = x.balanco.relatorios[2019]
relatorios = np.array([list(relat[i]) for i in relat])
relatorios = np.column_stack([relatorios, list(relat)])
relatorios = np.column_stack([relatorios, [x.ano for i in list(relat)]])
relatorios = np.column_stack([relatorios, [x.papel for i in list(relat)]])

tb_relatorio = [['DATA_REF','DATA_ENT','CD_RELATORIO','TRIMESTRE', 'ANO', 'CD_ATIVO'], relatorios]

In [45]:
tb_relatorio

[['DATA_REF', 'DATA_ENT', 'CD_RELATORIO', 'TRIMESTRE', 'ANO', 'CD_ATIVO'],
 array([[datetime.date(2019, 9, 30), datetime.date(2019, 10, 29), 88872,
         3, 2018, 'MGLU3'],
        [datetime.date(2019, 6, 30), datetime.date(2019, 8, 12), 86340, 2,
         2018, 'MGLU3'],
        [datetime.date(2019, 3, 31), datetime.date(2019, 5, 6), 82751, 1,
         2018, 'MGLU3'],
        [datetime.date(2019, 12, 31), datetime.date(2020, 2, 17), 90983,
         4, 2018, 'MGLU3']], dtype=object)]

In [22]:
tabela

[['CD_ATIVO',
  'CONTA',
  'DS_CONTA',
  'CD_RELATORIO',
  'DATA_ENT',
  'DATA_REF',
  'ANO',
  'TRIMESTRE',
  'VALOR'],
 array([['MGLU3', '3.01', 'Receita de Venda de Bens e/ou Serviรงos', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         4328984000.0],
        ['MGLU3', '3.02', 'Custo dos Bens e/ou Serviรงos Vendidos', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -3117565000.0],
        ['MGLU3', '3.03', 'Resultado Bruto', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         1211419000.0],
        ['MGLU3', '3.04', 'Despesas/Receitas Operacionais', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -919986000.0],
        ['MGLU3', '3.04.01', 'Despesas com Vendas', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -692977000.0],
        ['MGLU3', '3.04.02', 'Despesas Gerais e Administrativas', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -240214000.0],
        ['MGLU3', '3.04.02.01', 'Gerais e Administrativas', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -136275000.0],
        ['MGLU3', '3.04.02.02', 'Depreciaรงรฃo', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -103939000.0],
        ['MGLU3', '3.04.03', 'Perdas pela Nรฃo Recuperabilidade de Ativos',
         82751, datetime.date(2019, 5, 6), datetime.date(2019, 3, 31),
         2019, 1, -12422000.0],
        ['MGLU3', '3.04.04', 'Outras Receitas Operacionais', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         25537000.0],
        ['MGLU3', '3.04.05', 'Outras Despesas Operacionais', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         None],
        ['MGLU3', '3.04.06', 'Resultado de Equivalรชncia Patrimonial',
         82751, datetime.date(2019, 5, 6), datetime.date(2019, 3, 31),
         2019, 1, 90000.0],
        ['MGLU3', '3.05',
         'Resultado Antes do Resultado Financeiro e dos Tributos', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         291433000.0],
        ['MGLU3', '3.06', 'Resultado Financeiro', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -98934000.0],
        ['MGLU3', '3.06.01', 'Receitas Financeiras', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         38022000.0],
        ['MGLU3', '3.06.02', 'Despesas Financeiras', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -136956000.0],
        ['MGLU3', '3.07', 'Resultado Antes dos Tributos sobre o Lucro',
         82751, datetime.date(2019, 5, 6), datetime.date(2019, 3, 31),
         2019, 1, 192499000.0],
        ['MGLU3', '3.08',
         'Imposto de Renda e Contribuiรงรฃo Social sobre o Lucro', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         -60395000.0],
        ['MGLU3', '3.08.01', 'Corrente', 82751, datetime.date(2019, 5, 6),
         datetime.date(2019, 3, 31), 2019, 1, None],
        ['MGLU3', '3.08.02', 'Diferido', 82751, datetime.date(2019, 5, 6),
         datetime.date(2019, 3, 31), 2019, 1, None],
        ['MGLU3', '3.09', 'Resultado Lรญquido das Operaรงรตes Continuadas',
         82751, datetime.date(2019, 5, 6), datetime.date(2019, 3, 31),
         2019, 1, 132104000.0],
        ['MGLU3', '3.10', 'Resultado Lรญquido de Operaรงรตes Descontinuadas',
         82751, datetime.date(2019, 5, 6), datetime.date(2019, 3, 31),
         2019, 1, None],
        ['MGLU3', '3.10.01',
         'Lucro/Prejuรญzo Lรญquido das Operaรงรตes Descontinuadas', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         None],
        ['MGLU3', '3.10.02',
         'Ganhos/Perdas Lรญquidas sobre Ativos de Operaรงรตes Descontinuadas',
         82751, datetime.date(2019, 5, 6), datetime.date(2019, 3, 31),
         2019, 1, None],
        ['MGLU3', '3.11', 'Lucro/Prejuรญzo Consolidado do Perรญodo', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         132104000.0],
        ['MGLU3', '3.11.01', 'Atribuรญdo a Sรณcios da Empresa Controladora',
         82751, datetime.date(2019, 5, 6), datetime.date(2019, 3, 31),
         2019, 1, 132104000.0],
        ['MGLU3', '3.11.02', 'Atribuรญdo a Sรณcios Nรฃo Controladores',
         82751, datetime.date(2019, 5, 6), datetime.date(2019, 3, 31),
         2019, 1, None],
        ['MGLU3', '3.99', 'Lucro por Aรงรฃo - (Reais / Aรงรฃo)', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         None],
        ['MGLU3', '3.99.01', 'Lucro Bรกsico por Aรงรฃo', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         None],
        ['MGLU3', '3.99.01.01', 'ON', 82751, datetime.date(2019, 5, 6),
         datetime.date(2019, 3, 31), 2019, 1, 699.0],
        ['MGLU3', '3.99.02', 'Lucro Diluรญdo por Aรงรฃo', 82751,
         datetime.date(2019, 5, 6), datetime.date(2019, 3, 31), 2019, 1,
         None],
        ['MGLU3', '3.99.02.01', 'ON', 82751, datetime.date(2019, 5, 6),
         datetime.date(2019, 3, 31), 2019, 1, 693.0]], dtype=object)]

In [23]:
bi.Features(tabela[0], tabela[1])

--------  ----------  ---------------------------------------------------------------  ------------  ----------  ----------  ----  ---------  -------------
CD_ATIVO  CONTA       DS_CONTA                                                         CD_RELATORIO  DATA_ENT    DATA_REF    ANO   TRIMESTRE  VALOR
MGLU3     3.01        Receita de Venda de Bens e/ou Serviรงos                           82751         2019-05-06  2019-03-31  2019  1          4328984000.0
MGLU3     3.02        Custo dos Bens e/ou Serviรงos Vendidos                            82751         2019-05-06  2019-03-31  2019  1          -3117565000.0
MGLU3     3.03        Resultado Bruto                                                  82751         2019-05-06  2019-03-31  2019  1          1211419000.0
MGLU3     3.04        Despesas/Receitas Operacionais                                   82751         2019-05-06  2019-03-31  2019  1          -919986000.0
MGLU3     3.04.01     Despesas com Vendas                                              82751         2019-05-06  2019-03-31  2019  1          -692977000.0
MGLU3     3.04.02     Despesas Gerais e Administrativas                                82751         2019-05-06  2019-03-31  2019  1          -240214000.0
MGLU3     3.04.02.01  Gerais e Administrativas                                         82751         2019-05-06  2019-03-31  2019  1          -136275000.0
MGLU3     3.04.02.02  Depreciaรงรฃo                                                      82751         2019-05-06  2019-03-31  2019  1          -103939000.0
MGLU3     3.04.03     Perdas pela Nรฃo Recuperabilidade de Ativos                       82751         2019-05-06  2019-03-31  2019  1          -12422000.0
MGLU3     3.04.04     Outras Receitas Operacionais                                     82751         2019-05-06  2019-03-31  2019  1          25537000.0
MGLU3     3.04.05     Outras Despesas Operacionais                                     82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.04.06     Resultado de Equivalรชncia Patrimonial                            82751         2019-05-06  2019-03-31  2019  1          90000.0
MGLU3     3.05        Resultado Antes do Resultado Financeiro e dos Tributos           82751         2019-05-06  2019-03-31  2019  1          291433000.0
MGLU3     3.06        Resultado Financeiro                                             82751         2019-05-06  2019-03-31  2019  1          -98934000.0
MGLU3     3.06.01     Receitas Financeiras                                             82751         2019-05-06  2019-03-31  2019  1          38022000.0
MGLU3     3.06.02     Despesas Financeiras                                             82751         2019-05-06  2019-03-31  2019  1          -136956000.0
MGLU3     3.07        Resultado Antes dos Tributos sobre o Lucro                       82751         2019-05-06  2019-03-31  2019  1          192499000.0
MGLU3     3.08        Imposto de Renda e Contribuiรงรฃo Social sobre o Lucro             82751         2019-05-06  2019-03-31  2019  1          -60395000.0
MGLU3     3.08.01     Corrente                                                         82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.08.02     Diferido                                                         82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.09        Resultado Lรญquido das Operaรงรตes Continuadas                      82751         2019-05-06  2019-03-31  2019  1          132104000.0
MGLU3     3.10        Resultado Lรญquido de Operaรงรตes Descontinuadas                    82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.10.01     Lucro/Prejuรญzo Lรญquido das Operaรงรตes Descontinuadas              82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.10.02     Ganhos/Perdas Lรญquidas sobre Ativos de Operaรงรตes Descontinuadas  82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.11        Lucro/Prejuรญzo Consolidado do Perรญodo                            82751         2019-05-06  2019-03-31  2019  1          132104000.0
MGLU3     3.11.01     Atribuรญdo a Sรณcios da Empresa Controladora                       82751         2019-05-06  2019-03-31  2019  1          132104000.0
MGLU3     3.11.02     Atribuรญdo a Sรณcios Nรฃo Controladores                             82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.99        Lucro por Aรงรฃo - (Reais / Aรงรฃo)                                  82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.99.01     Lucro Bรกsico por Aรงรฃo                                            82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.99.01.01  ON                                                               82751         2019-05-06  2019-03-31  2019  1          699.0
MGLU3     3.99.02     Lucro Diluรญdo por Aรงรฃo                                           82751         2019-05-06  2019-03-31  2019  1
MGLU3     3.99.02.01  ON                                                               82751         2019-05-06  2019-03-31  2019  1          693.0
--------  ----------  ---------------------------------------------------------------  ------------  ----------  ----------  ----  ---------  -------------

In [26]:
pd.DataFrame(tabela[1], columns=tabela[0])[[]]

,CD_ATIVO,CONTA,DS_CONTA,CD_RELATORIO,DATA_ENT,DATA_REF,ANO,TRIMESTRE,VALOR
0,MGLU3,3.01,Receita de Venda de Bens e/ou Serviรงos,82751,2019-05-06,2019-03-31,2019,1,"4,328,984,000.00"
1,MGLU3,3.02,Custo dos Bens e/ou Serviรงos Vendidos,82751,2019-05-06,2019-03-31,2019,1,"-3,117,565,000.00"
2,MGLU3,3.03,Resultado Bruto,82751,2019-05-06,2019-03-31,2019,1,"1,211,419,000.00"
3,MGLU3,3.04,Despesas/Receitas Operacionais,82751,2019-05-06,2019-03-31,2019,1,"-919,986,000.00"
4,MGLU3,3.04.01,Despesas com Vendas,82751,2019-05-06,2019-03-31,2019,1,"-692,977,000.00"
5,MGLU3,3.04.02,Despesas Gerais e Administrativas,82751,2019-05-06,2019-03-31,2019,1,"-240,214,000.00"
6,MGLU3,3.04.02.01,Gerais e Administrativas,82751,2019-05-06,2019-03-31,2019,1,"-136,275,000.00"
7,MGLU3,3.04.02.02,Depreciaรงรฃo,82751,2019-05-06,2019-03-31,2019,1,"-103,939,000.00"
8,MGLU3,3.04.03,Perdas pela Nรฃo Recuperabilidade de Ativos,82751,2019-05-06,2019-03-31,2019,1,"-12,422,000.00"
9,MGLU3,3.04.04,Outras Receitas Operacionais,82751,2019-05-06,2019-03-31,2019,1,"25,537,000.00"
10,MGLU3,3.04.05,Outras Despesas Operacionais,82751,2019-05-06,2019-03-31,2019,1,None
11,MGLU3,3.04.06,Resultado de Equivalรชncia Patrimonial,82751,2019-05-06,2019-03-31,2019,1,"90,000.00"
12,MGLU3,3.05,Resultado Antes do Resultado Financeiro e dos ...,82751,2019-05-06,2019-03-31,2019,1,"291,433,000.00"
13,MGLU3,3.06,Resultado Financeiro,82751,2019-05-06,2019-03-31,2019,1,"-98,934,000.00"
14,MGLU3,3.06.01,Receitas Financeiras,82751,2019-05-06,2019-03-31,2019,1,"38,022,000.00"
15,MGLU3,3.06.02,Despesas Financeiras,82751,2019-05-06,2019-03-31,2019,1,"-136,956,000.00"
16,MGLU3,3.07,Resultado Antes dos Tributos sobre o Lucro,82751,2019-05-06,2019-03-31,2019,1,"192,499,000.00"
17,MGLU3,3.08,Imposto de Renda e Contribuiรงรฃo Social sobre o...,82751,2019-05-06,2019-03-31,2019,1,"-60,395,000.00"
18,MGLU3,3.08.01,Corrente,82751,2019-05-06,2019-03-31,2019,1,None
19,MGLU3,3.08.02,Diferido,82751,2019-05-06,2019-03-31,2019,1,None
20,MGLU3,3.09,Resultado Lรญquido das Operaรงรตes Continuadas,82751,2019-05-06,2019-03-31,2019,1,"132,104,000.00"
21,MGLU3,3.10,Resultado Lรญquido de Operaรงรตes Descontinuadas,82751,2019-05-06,2019-03-31,2019,1,None
22,MGLU3,3.10.01,Lucro/Prejuรญzo Lรญquido das Operaรงรตes Descontin...,82751,2019-05-06,2019-03-31,2019,1,None
23,MGLU3,3.10.02,Ganhos/Perdas Lรญquidas sobre Ativos de Operaรงรต...,82751,2019-05-06,2019-03-31,2019,1,None
24,MGLU3,3.11,Lucro/Prejuรญzo Consolidado do Perรญodo,82751,2019-05-06,2019-03-31,2019,1,"132,104,000.00"
25,MGLU3,3.11.01,Atribuรญdo a Sรณcios da Empresa Controladora,82751,2019-05-06,2019-03-31,2019,1,"132,104,000.00"
26,MGLU3,3.11.02,Atribuรญdo a Sรณcios Nรฃo Controladores,82751,2019-05-06,2019-03-31,2019,1,None
27,MGLU3,3.99,Lucro por Aรงรฃo - (Reais / Aรงรฃo),82751,2019-05-06,2019-03-31,2019,1,None
28,MGLU3,3.99.01,Lucro Bรกsico por Aรงรฃo,82751,2019-05-06,2019-03-31,2019,1,None
29,MGLU3,3.99.01.01,ON,82751,2019-05-06,2019-03-31,2019,1,699.00
30,MGLU3,3.99.02,Lucro Diluรญdo por Aรงรฃo,82751,2019-05-06,2019-03-31,2019,1,None
31,MGLU3,3.99.02.01,ON,82751,2019-05-06,2019-03-31,2019,1,693.00

In [88]:
tb_ativo

[['CD_ATIVO', 'CD_CVM', 'CNPJ', 'ISIN'],
 array(['HYPE3', '21431', '02.932.074/0001-91', 'BRHYPEACNOR0'],
       dtype='<U18')]

In [95]:
f = bi.Features(tb_relatorio[0], tb_relatorio[1])

In [100]:
f['CD_RELATORIO','ANO','TRIMESTRE','DATA_REF','DATA_ENT'].np()

[['CD_RELATORIO', 'ANO', 'TRIMESTRE', 'DATA_REF', 'DATA_ENT'],
 array([[88825, 2019, 3, datetime.date(2019, 9, 30),
         datetime.date(2019, 10, 25)],
        [85629, 2019, 2, datetime.date(2019, 6, 30),
         datetime.date(2019, 7, 26)],
        [82439, 2019, 1, datetime.date(2019, 3, 31),
         datetime.date(2019, 4, 26)],
        [91427, 2019, 4, datetime.date(2019, 12, 31),
         datetime.date(2020, 3, 6)]], dtype=object),
 '']

In [14]:
s = bi.sqlite(r'C:\Users\11111\Desktop\fmtpy\db\teste.db')

In [21]:
s.to_sql('teste1', tabela[0], tabela[1], 'replace')